# Invoices
BILL_*_*.pdf    $HOME/Downloads $HOME/Downloads/Invoices/invoice_%FILENAME%
*invoice*.*     $HOME/Downloads $HOME/Downloads/Invoices/

# Pay slip
Slip_20*.pdf    $HOME/Downloads $HOME/Documents/admin/

# By filetype
*.epub          $HOME/Downloads $HOME/Downloads/_Ebooks/
*.jpg           $HOME/Downloads $HOME/Downloads/_Images/
*.jpeg          $HOME/Downloads $HOME/Downloads/_Images/
*.png           $HOME/Downloads $HOME/Downloads/_Images/
*.avi           $HOME/Downloads $HOME/Downloads/_Videos/
*.mp4           $HOME/Downloads $HOME/Downloads/_Videos/
